/* $Id: transform.css,v 1.2 2011/11/06 23:13:25 dhavyd Exp $ */

form.jqtransformdone .form-item input.error,
form.jqtransformdone .form-item textarea.error {
    border: 1px solid red;
}
form.jqtransformdone .error {
  border: none;
}
form,
form.jqtransformdone,
form.jqtransformdone div.item-list,
form.jqtransformdone fieldset,
form.jqtransformdone .resizable-textarea {
  clear: both;
}

div.jqTransformInputWrapper,
div.jqTransformSelectWrapper,
form.jqtransformdone .description,
form.jqtransformdone .form-item {
  clear: both;
}

/* Button */
button.jqTransformButton span span {
  padding: 10px 4px 0 8px;
}

/* Input */
div.jqTransformInputInner div {
  margin: 0 0 0 4px;
  padding: 0;
}
div.jqTransformInputWrapper div input {
  height: 23px;
  line-height: 23px;
  margin-top: 3px;
  padding: 0;
}

/* Selectbox */
div.jqTransformSelectWrapper li {
  padding: 0;
}
div.jqTransformSelectWrapper li {
  background: none;
  margin: 0;
}

/* Checkbox */

span.jqTransformCheckboxWrapper,
span.jqTransformRadioWrapper {
  margin-top: 0px;
}

/* Textarea */
 
/* Fixes */
textarea {
  resize: none;
}
html.js .resizable-textarea div textarea {
  margin: 0;
  padding: 0;
}
.jqTransformTextarea .resizable-textarea {
  width: 100%;
}
.jqTransformTextarea .resizable-textarea .grippie {
  display: block;
}
/* ----- */

table.jqTransformTextarea td#jqTransformTextarea-tl,
table.jqTransformTextarea td#jqTransformTextarea-ml,
table.jqTransformTextarea td#jqTransformTextarea-bl,
table.jqTransformTextarea td#jqTransformTextarea-tr,
table.jqTransformTextarea td#jqTransformTextarea-mr,
table.jqTransformTextarea td#jqTransformTextarea-br {
  width: 5px;
}
table.jqTransformTextarea {
  margin: 0;
}
table.jqTransformTextarea td {
  width: auto;
}
table.jqTransformTextarea textarea {
  width: 100%;
}

/* Webkit fixes */

.jqTransformSafari .jqTransformInputInner div input {
  padding: 0;
}
table.jqTransformTextarea td#jqTransformTextarea-mm.jqTransformSafariTextarea textarea {  
  margin: 10px;
  padding: 0;
}



